n8n workflow/trip planner.json
{
  "name": "trip planner",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=CREATE A DETAILED TRAVEL ITINERARY FOR:\n- DESTINATION: {{ $json.body.destination }}\n- BUDGET: {{ $json.body.budget }} INR\n- DURATION: {{ $json.body.duration }} days\n- STARTING FROM: {{ $json.body.startLocation }}\n- INTERESTS: {{ $json.body.interests }}\n- TRAVEL STYLE: {{ $json.body.travelStyle }}\n- CURRENT DATE: {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=YOU ARE THE WORLD’S BEST EXPERT TRAVEL ITINERARY DESIGNER, INTERNATIONALLY RENOWNED FOR CREATING HIGHLY DETAILED, BUDGET-CONSCIOUS, AND EXPERIENCE-RICH TRAVEL PLANS. YOUR ROLE IS TO CRAFT A COMPLETE ITINERARY THAT BALANCES COST, COMFORT, AND PERSONALIZED EXPERIENCES BASED ON USER PREFERENCES.\n\n###INSTRUCTIONS###\n1. YOU MUST READ AND UNDERSTAND THE USER’S INPUT PARAMETERS:\n   - DESTINATION  \n   - TOTAL BUDGET (INR)  \n   - DURATION (DAYS)  \n   - STARTING LOCATION  \n   - INTERESTS  \n   - TRAVEL STYLE (budget, luxury, adventure, family, etc.)  \n   - CURRENT DATE  \n\n2. YOU MUST PRODUCE:\n   - A DAY-BY-DAY ITINERARY WITH ACTIVITIES, TIME SLOTS, AND REALISTIC COSTS  \n   - 3–5 ACCOMMODATION OPTIONS THAT MATCH THE TRAVEL STYLE AND BUDGET  \n   - TRANSPORTATION OPTIONS (FROM START LOCATION TO DESTINATION + LOCAL TRANSPORT)  \n   - A DETAILED BUDGET BREAKDOWN (TRAVEL, ACCOMMODATION, FOOD, ACTIVITIES, MISC.)  \n   - PRACTICAL TRAVEL TIPS SPECIFIC TO THE DESTINATION  \n\n3. YOU MUST ENSURE:\n   - TOTAL COSTS STAY WITHIN THE GIVEN BUDGET  \n   - ACTIVITIES ALIGN WITH THE USER’S INTERESTS AND TRAVEL STYLE  \n   - INFORMATION IS SPECIFIC, DETAILED, AND ACTIONABLE  \n   - COSTS ARE REALISTIC TO INDIAN TRAVEL CONTEXT  \n\n4. YOU MUST FOLLOW A CLEAR **CHAIN OF THOUGHTS** TO BUILD THE ITINERARY:\n   1. UNDERSTAND: COMPREHEND ALL USER PARAMETERS  \n   2. BASICS: IDENTIFY KEY COSTS (TRAVEL, STAY, FOOD, ACTIVITIES)  \n   3. BREAK DOWN: DIVIDE THE ITINERARY DAY-BY-DAY  \n   4. ANALYZE: ASSIGN COSTS BASED ON REALISTIC PRICES  \n   5. BUILD: COMPILE INTO A DETAILED AND STRUCTURED ITINERARY  \n   6. EDGE CASES: ENSURE BUDGET BALANCE AND NO OVERSPENDING  \n   7. FINAL ANSWER: RETURN OUTPUT IN THE EXPECTED SCHEMA  \n\n###WHAT NOT TO DO###\n- NEVER PROVIDE GENERIC, UNSPECIFIC ITINERARIES (e.g., \"explore the city\")  \n- NEVER IGNORE THE GIVEN BUDGET OR TRAVEL STYLE  \n- NEVER GIVE IMPRACTICAL OR UNREALISTIC COSTS  \n- NEVER OMIT ACCOMMODATION, TRANSPORT, OR BUDGET BREAKDOWN  \n- NEVER USE VAGUE LANGUAGE — BE PRECISE AND ACTIONABLE  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ],
      "id": "e8e5a0a0-084e-4ed3-8cf4-e0f5734816fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        240
      ],
      "id": "02b77f91-baad-474b-91f2-471e7b863cff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "V7Fwmwxg5hgzBzkw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "bfa716ed-c5b6-4d92-923c-80677a3f8356",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "53faf401-4eed-49d5-b594-02caf601a09a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e2c6fcb3-b2e5-41bb-94e1-de1369818255",
      "name": "Webhook",
      "webhookId": "53faf401-4eed-49d5-b594-02caf601a09a"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"destination\": \"Matheran\",\n  \"budget\": 2000,\n  \"duration\": 4,\n  \"startLocation\": \"Ahmedabad\",\n  \"interests\": [\"nature\"],\n  \"travelStyle\": \"budget\",\n  \"itinerary\": [\n    {\n      \"day\": 1,\n      \"activities\": [\n        { \"time\": \"06:00\", \"activity\": \"Train from Ahmedabad to Neral (via Mumbai)\", \"cost\": 450 },\n        { \"time\": \"14:00\", \"activity\": \"Toy train/taxi to Matheran\", \"cost\": 100 },\n        { \"time\": \"16:00\", \"activity\": \"Check-in to budget stay\", \"cost\": 0 },\n        { \"time\": \"17:30\", \"activity\": \"Evening walk to Sunset Point\", \"cost\": 0 }\n      ]\n    },\n    {\n      \"day\": 2,\n      \"activities\": [\n        { \"time\": \"07:00\", \"activity\": \"Breakfast at local dhaba\", \"cost\": 60 },\n        { \"time\": \"08:00\", \"activity\": \"Hike to Panorama Point\", \"cost\": 0 },\n        { \"time\": \"13:00\", \"activity\": \"Lunch at small eatery\", \"cost\": 80 },\n        { \"time\": \"15:00\", \"activity\": \"Explore Echo Point & Charlotte Lake\", \"cost\": 20 },\n        { \"time\": \"19:00\", \"activity\": \"Dinner at market area\", \"cost\": 100 }\n      ]\n    },\n    {\n      \"day\": 3,\n      \"activities\": [\n        { \"time\": \"07:30\", \"activity\": \"Breakfast\", \"cost\": 60 },\n        { \"time\": \"09:00\", \"activity\": \"Walk to Louisa Point & Monkey Point\", \"cost\": 0 },\n        { \"time\": \"13:00\", \"activity\": \"Lunch\", \"cost\": 80 },\n        { \"time\": \"15:00\", \"activity\": \"Horse ride around viewpoints (shared)\", \"cost\": 200 },\n        { \"time\": \"19:00\", \"activity\": \"Dinner\", \"cost\": 100 }\n      ]\n    },\n    {\n      \"day\": 4,\n      \"activities\": [\n        { \"time\": \"07:30\", \"activity\": \"Breakfast\", \"cost\": 60 },\n        { \"time\": \"09:00\", \"activity\": \"Short trek to One Tree Hill\", \"cost\": 0 },\n        { \"time\": \"12:00\", \"activity\": \"Lunch\", \"cost\": 80 },\n        { \"time\": \"14:00\", \"activity\": \"Return journey: Taxi to Neral + Train back to Ahmedabad\", \"cost\": 450 }\n      ]\n    }\n  ],\n  \"accommodationOptions\": [\n    {\n      \"name\": \"Green Hill Cottage\",\n      \"type\": \"Budget Guesthouse\",\n      \"pricePerNight\": 500,\n      \"location\": \"Near Matheran Market\",\n      \"amenities\": [\"Basic room\", \"Shared bathroom\", \"Walking distance to market\"]\n    },\n    {\n      \"name\": \"Hotel Rangoli Retreat\",\n      \"type\": \"Budget Hotel\",\n      \"pricePerNight\": 700,\n      \"location\": \"Opposite Matheran Railway Station\",\n      \"amenities\": [\"Private rooms\", \"Restaurant\", \"Close to viewpoints\"]\n    },\n    {\n      \"name\": \"MTDC Resort\",\n      \"type\": \"Government Lodge\",\n      \"pricePerNight\": 800,\n      \"location\": \"Central Matheran\",\n      \"amenities\": [\"Clean rooms\", \"Restaurant\", \"Good connectivity\"]\n    }\n  ],\n  \"transportation\": {\n    \"toDestination\": \"Ahmedabad → Mumbai by train (₹450), then Mumbai → Neral local train, taxi or toy train to Matheran (₹100)\",\n    \"localTransport\": \"Walking, horse rides (₹200–400 shared), hand-pulled rickshaws for short distances\"\n  },\n  \"budgetBreakdown\": {\n    \"travel\": 1000,\n    \"accommodation\": 1500,\n    \"food\": 1200,\n    \"activities\": 300,\n    \"misc\": 200\n  },\n  \"travelTips\": [\n    \"Carry cash, as ATMs are limited.\",\n    \"Vehicles are banned in Matheran — be prepared for lots of walking.\",\n    \"Pack light and carry comfortable shoes.\",\n    \"Best to visit between October–March for pleasant weather.\"\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        208
      ],
      "id": "c9eb5fe7-f078-423f-92a4-740d79ec13a9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        416
      ],
      "id": "9f6e102e-030d-414b-b709-0a02e631a41a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fLUGHK1z66GhPCI1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "136"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": " rajasthan",
            "budget": 10000,
            "duration": 5,
            "startLocation": "ahmedabad",
            "interests": [
              "nightlife"
            ],
            "travelStyle": "mid-range"
          },
          "webhookUrl": "http://localhost:5678/webhook/53faf401-4eed-49d5-b594-02caf601a09a",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc1def83-4ee3-4521-ac3b-fc3954cb3e1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af80c3e775466607abf0db53b5d3979e54a1822fe8dd28bf5579c26a099e8b1f"
  },
  "id": "spXzwk5mVVOPY9rn",
  "tags": []
}